/* AboutMeStyle.scss */
.hiddenn {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .visible1 {
    opacity: 0.3;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .visible2 {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .aboutFeature-container {
    background-color: black;
    padding: 20px;
    height: 1000px;
  }
  
  .scroll-div {
    color: white;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Slight background for better readability */
    border-radius: 10px;
  }
  