.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(1, 5, 8);
}
.location{
    display: flex;
    flex-direction: column;
    margin: 0;
    & p{
        margin: 0;
    }
}
.contact-icons{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    & a{
      margin: 0 20px;
    }
}

@media screen and (max-width: 640px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .location{
    & p{
        margin-bottom: 10px;
    }
}
}
