.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(1, 5, 8);
}
.location{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    & p{
        padding-left: 0.7rem;
    }
}
.contact-icons{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 640px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}
