.homepage{
    //background-color: rgb(0, 0, 0);
    // background-image: url('https://images.unsplash.com/photo-1609885194808-79627b83e0b0?q=80&w=1813&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    // background-image: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

     background: linear-gradient(to bottom, black 0%, #016FCE 100%);

}
.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px 20% 10px 20%;
    width: 60%;
    height: 100%;
    padding: 10px;
    background-color: rgb(69, 79, 116);
}
.time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.temp-icon-container{
    display: flex;
    flex-direction: row;
    & img{
        width: 80%;
    }
}
.details{
    width: 40%;
}
.temp{
    align-items: center;
    align-self: center;
}
.left-container{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.hour-card-container{
    // margin: 10px;
    padding: 10px;
    
}
.hour-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px 0px;
    width: 100%;
    height: 100%;
    padding: 10px;  
    .time-box{
        flex: 1;
    }
    .icon-box{
        flex: 1;
    }
    .temp-box{
        flex: 2;
    }
    .pop-box{
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    & img{
        width: 20%;
    }
}