.homepage{
    //background-color: rgb(0, 0, 0);
    // background-image: url('https://images.unsplash.com/photo-1609885194808-79627b83e0b0?q=80&w=1813&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    // background-image: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

     background: linear-gradient(to bottom, black 0%, #016FCE 100%);
     & p{
        font-size: 1rem;
     }
     & hr{
        color: antiquewhite;
     }

}
.icon{
    z-index: 1000;
}
.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px auto;
    width: 60%;
    height: 100%;
    padding: 10px;
    // background-color: #14103D;
    backdrop-filter: blur(0px);
}
.time-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.temp-icon-container{
    display: flex;
    flex-direction: row;
    & img{
        width: 80%;
    }
}
.details{
    width: 40%;
    margin: 0px;
}
.temp{
    align-items: center;
    align-self: center;
}
.left-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.forcasting-container{
    padding: 10px;
    
}
.hour-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px auto;
    width: 95%;
    height: 100%;
    padding: 10px;  
    .time-box{
        flex: 1;
    }
    .icon-box{
        flex: 1;
        & img {
            width: 55px;
        }
    }
    .temp-box{
        flex: 2;
    }
    .pop-box{
        display: flex;
        flex-direction: row;
        flex: 1;
        & p{
            margin-left: 5px;
        }
    }
    & img{
        width: 50%;
    }
}
.toggle-button{
    cursor: pointer;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    // border: 1px solid blue
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // border-radius: 8px;
    & h2{
        color: aliceblue;
    }
}
.loading{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: antiquewhite;
    font-size: 2rem;
}

@media screen and (max-width: 640px) {
    p{
        font-size: 0.9rem;
    }
    .card-container{
        width: 95%;
        margin: 0 auto;
        height: 100%;
        padding: 5px;

    }
}