.icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
  }
  
  .icon img {
    width: 50px;
    height: 50px;
  }
  
  .form-window {
    background-color: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur to background */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: Border to make it stand out */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
  }
  
  .form-header {
    display: flex;
    justify-content: flex-end;
    background-color: #0B1333;
    padding: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: larger;
  }

/* WeatherCardStyle.scss or a new CSS file */
.user-preference-container {
    width: 100%;
      min-width: 250px;
      margin: 20px auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0); /* Semi-transparent background */
      backdrop-filter: blur(0px); /* Apply blur to background */
      border: 1px solid rgba(255, 255, 255, 0.2);
    //   border-radius: 5px;
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .user-preference-container h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
      color: #ffffff;
    }
    
    .user-preference-container label {
      display: block;
      margin-bottom: 10px;
    }
    
    .user-preference-container input[type="text"],
    .user-preference-container input[type="number"],
    .user-preference-container input[type="checkbox"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }
    
    .user-preference-container input[type="checkbox"] {
      margin-bottom: 0;
    }
    
    .user-preference-container button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .user-preference-container button:hover {
      background-color: #0056b3;
    }

    .notification-container{
    //   border: 1px solid rgb(219, 220, 233);
      background-color:#4186B2;
      margin: 20px 0;
      padding: 5px;
      border-radius: 10px;
    }
    .notification-checkbox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
    }
    .large-checkbox{
      transform: scale(0.3); /* Adjust the scale as needed */
      -webkit-transform: scale(0.3); /* For Safari */
      margin-right: 0px;
    }
    .checkbox-container {
      display: flex;
      align-items: center;
    }
    
    .label-with-tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin-left: 5px;
      border: 1px solid greenyellow;
      padding: 0px 5px;
      background-color: #97d8a5;
      border-radius: 5px;
    }
    
    .label-with-tooltip .tooltip-text {
      visibility: hidden;
      width: 200px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%; /* Position the tooltip above the text */
      left: 50%;
      margin-left: -100px;
      opacity: 0;
      transition: opacity 0.3s;
      border: 1px solid greenyellow;
    }
    
    .label-with-tooltip .tooltip-text::after {
      content: "";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    .label-with-tooltip:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
    @media screen and (max-width: 1007px) {
      .user-preference-container {
        width: 100%;
        width: 350px;
      }
      .form-window {
        bottom: 110px;
        right: 20px;
        width: 400px;
      }
    }
    @media screen and (max-width: 640px) {
      .user-preference-container {
        width: 100%;
      }
      .form-window {
        bottom: 110px;
        right: 20px;
        width: 350px;
      }
    }
    
    